.about-me-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.about-me-wrapper .text {
    grid-column: span 8;
}

.about-me-wrapper .image {
    grid-column: span 4;
    justify-self: end;
}

.portfolio-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.portfolio-wrapper .text {
    grid-column: span 6;
    grid-row: 1;
}

.portfolio-wrapper .image {
    grid-column: span 6;
    justify-self: end;
    grid-row-start: 1;
    grid-row-end: 3;
}

.portfolio-wrapper .play {
    grid-column: span 6;
    grid-row: 2;
}

.website-top {
    padding-top: 20%;
    color: #fbfff1;
    font-family: unisans;
    min-height: 100%;
}

@font-face {
    font-family: unisans;
    src: url('/static/uni-sans/UniSansThin.otf');
}

.dont-print {

}

@media print {
    @page {
        margin: 1.5cm;
    }

    .website-part {
        background-color: #fff;
        width: 100% !important;
        margin: 2% 0% !important;
        color: #000;
    }

    .dont-print {
        display: none;
    }

    .only-print {
        display: block !important;
    }
}

.only-print {
    display: none;
}

@media screen and (max-width: 921px) {
    .about-me-wrapper .image {
        grid-row: 1;
        grid-column: span 12;
        justify-self: center;
    }

    .about-me-wrapper .text {
        grid-column: span 12;
    }

    .portfolio-wrapper .image {
        grid-row: 1;
        grid-row-end: 2;
        grid-column: span 12;
        justify-self: center;
        margin-bottom: 10px;
    }

    .portfolio-wrapper .text {
        grid-column: span 12;
        grid-row: 2;
    }

    .portfolio-wrapper .play {
        grid-column: span 12;
        grid-row: 3;
        justify-self: center;
    }

    .website-part img {
        margin-left: 0px !important;
    }
}

.website-top .title {
    font-size: 40px;
    padding-bottom: 10px;
}

.website-top .buttons {
    padding-top: 15%;
}

.website-top .buttons button {
    margin: 0% 5%;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 20px;
    transition: 0.3s;
    border-radius: 5px;
}

.website-top .buttons button:hover {
    background-color: #5d91bf;
}

.website-part button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: unisans;
    font-weight: 600;
}

.website-part button:hover {
    background-color: #5d91bf;
    color: #fbfff1;
}

.github {
    padding: 2px;
    width: 32px;
}

.website-top a {
    font-size: 16px;
    color: #fbfff1;
}

.website-part {
    background-color: #fbfff1;
    margin: 10% 12.5%;
    min-height: 90%;
    padding: 3% 5%;
    border-radius: 5px;
    color: #3d322d;
}

.website-part img {
    max-width: 100%;
    max-height: 400px;
    border: 1px solid #87919e;
    border-radius: 3px;
    margin-left: 20px;
}

.website-part .google-play {
    border: 0px solid #87919e;
    max-height: 70px;
    max-width: 100%;
    margin-left: 0px;
    left: 0;
}

.website-part .cv-title-img {
    max-height: 160px;
    left: 10;
    top: 10;
    position: inherit;
}

.website-part .title {
    font-family: unisans;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    font-size: 28px;
    color: #3d322d;
    border-bottom: 1px solid #87919e;
    padding-bottom: 5px;
}

.website-part .cv-title {
    color: #3d322d;
    border-bottom: 1px solid #87919e;
    padding-bottom: 20px;
}

.website-part .cv-title .cv-title-title {
    font-family: unisans;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #3d322d;
}

.website-part .cv-title .cv-title-content {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.website-part .content {
    font-family: brandon-grotesque, sans-serif;
    font-style: normal;
    font-weight: 300;
}

.website-part .aboutMe {
    white-space: pre-line;
}

.website-part .content .content-title {
    font-family: unisans;
    font-style: normal;
    font-weight: 1000;
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 20px;
    color: #3d322d;
}

.website-part .content .cv-list {
    padding-left: 15px;
    padding-right: 15px;
}

.website-part .content .content-small-title {
    font-family: unisans;
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 5px;
    color: #3d322d;
}

.website-part .content .content-text {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.website-part .content .portfolio-entry {
    padding-bottom: 50px;
    margin-bottom: 50px;
}

.website-footer {
    background-color: #fbfff1;
    background-size: cover;
    margin-top: 5%;
    min-height: 5%;
    width: 100%;
    padding-bottom: 2%;
    padding-top: 1%;
    padding-left: 3%;
    padding-right: 3%;
}

.website-footer button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    transition: 0.3s;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    font-family: unisans;
    font-weight: 600;
}

.website-footer button:hover {
    background-color: #5d91bf;
    color: #fbfff1;
}

.backgroundImage0 {
    background-image: url("/static/pictures/background-0.jpg");
    transition: background-image 0.5s;
}

.backgroundImage1 {
    background-image: url("/static/pictures/background-1.jpg");
    transition: background-image 0.5s;
}

.backgroundImage2 {
    background-image: url("/static/pictures/background-2.jpg");
    transition: background-image 0.5s;
}

.backgroundImage3 {
    background-image: url("/static/pictures/background-3.jpg");
    transition: background-image 0.5s;
}

.parallax {
    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
