.wrapper {
    font-size: 26px;
    width: 80%;
    padding: 50px;
    min-height: 400px;
    line-height: 150%;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    position: relative;
}

.imageText {
    padding: 5px;
    color: white;
    background-color: #028A0F;
    position: relative;
    display: inline;
    box-shadow: 0 6px 10px 2px #00000082;
}

.imageText img {
    position: absolute;
    top: 100%;
    left: 0;
    width: 0px;
    z-index: 1;
}

.imageText:hover img {
    width: 250px;
    padding: 5px;
    background-color: #028A0F;
    box-shadow: 0 12px 10px 2px #00000082;
}

.highlightText {
    padding: 5px;
    color: white;
    background-color: #10A5F5;
    display: inline;
    box-shadow: 0 6px 10px 2px #00000082;
}

.importantText {
    padding: 5px;
    color: white;
    background-color: #BC544B;
    display: inline;
    box-shadow: 0 6px 10px 2px #00000082;
}

@media only screen and (max-width: 370px) {
    .logo {
        width: 75px !important;
        transform: translate(25px, 0px) !important;
    }
}

.logo {
    position: absolute;
    width: 150px;
    transform: translate(25px, -30px);
}