@media print {
    .wrapper {
        display: none !important;
        min-height: 0px !important;
    }
}

@media only screen and (max-width: 370px) {
    .button {
        font-size: 12px !important;
        padding: 0px 10px !important;
        min-width: 30px !important;
    }
}

@media only screen and (max-width: 500px) {
    .title {
        flex-grow: 1 !important;
    }

    .logo {
        height: 60px !important;
    }

    .buttonWrapper:last-child {
        padding-right: 0px !important;
    }
}

@media only screen and (max-width: 768px) {
    .siteTitleText {
        display: none;
    }
}

.wrapper {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    background-color: black;
}

.title {
    padding-left: 25px;
    color: white;
    text-decoration: none;
    flex-grow: 3;
    align-self: center;
    display: flex;
    align-items: center;
}

.siteTitleText {
    font-size: 30px;
    padding: 10px;
}

.logo {
    padding-right: 10px;
    height: 100px;
}

.buttonWrapper {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
    justify-content: flex-end;
}

.buttonWrapper:last-child {
    padding-right: 25px;
}

.button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 0px 20px;
    margin: 0px 5px;
    min-width: 60px;
    color: white;
    text-decoration: none;
    transition: 0.5s ease;
}

.button:hover {
    background-color: #10A5F5;
}

.highlightCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 200px;
}