@font-face {
    font-family: 'UniSansHeavy';
    src: url('./fonts/uni-sans/Uni\ Sans\ Heavy.otf');
}

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    margin: 0;
    font-family: 'UniSansHeavy', sans-serif;
    min-height: 100%;
    position: relative;
    width: 100%;
    overflow-x: hidden;
}

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}
