<html>
	<head>
		<script type="text/javascript" src="/static/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/static/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/list.min.js"></script>
		<script type="text/javascript" src="/static/website.js"></script>

		<link href="/static/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/static/bootstrap-theme.min.css" media="all" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css" />
		<link href="/static/website.css" media="all" rel="stylesheet" type="text/css" />

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
	</head>
	<body class='parallax backgroundImage0'>
        <div class='text-center website-top'>
            <div class='title'>Fredrik Omstedt</div>
            <div style='padding-bottom: 10px'>
                <img class='github' src='static/pictures/github.png'></img>
                <a href='http://www.github.com/xaril' target='_blank'><b>xaril</b></a>
            </div>
            <p><b>fredrik@omstedt.com</b></p>
            <div class='container-fluid buttons'>
                <div class='row'>
                    <button id='about-me-btn'><b>About Me</b></button>
                    <button id='cv-btn'><b>CV</b></button>
                    <button id='portfolio-btn'><b>Portfolio</b></button>
                    <button id='contact-me-btn'><b>Contact Me</b></button>
                </div>
            </div>
        </div>
        <div id='about-me' class='website-part'>
            <div class='title'>About Me</div>
            <div class='container-fluid content aboutMe'>
                <div class='row'>
                    <div class='col-xs-8'>
                        <p class='pull-left' id='about-me-text'></p>
                    </div>
                    <div class='col-xs-4'>
                        <div class='image-background'>
                            <img class='pull-right' id='about-me-image' src='/static/pictures/about-me-0.jpg'></img>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id='cv' class='website-part'>
            <div class='title'>CV</div>
            <div class='content'>
                <div>
                    <div class='cv-title'>Professional Experience</div>
                    <div class='cv-list'>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 cv-work'>Topgolf Sweden AB</div>
                                <div class='col-xs-6 text-right cv-work'>JAN 2017 - </div>
                            </div>
                            <p>Working as a software developer on video games and tools used in TV broadcasts.</p>
                            <p>Operating the software to create graphical effects during live television.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 cv-work'>Valkyr Games HB</div>
                                <div class='col-xs-6 text-right cv-work'>MAR 2015 - </div>
                            </div>
                            <p>CTO and Co-founder.</p>
                            <p>Designing and programming games.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 cv-work'>Eutopia Studios AB</div>
                                <div class='col-xs-6 text-right cv-work'>JUN 2016 - JAN 2017</div>
                            </div>
                            <p>Worked as a software developer on mobile applications and VR games.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 cv-work'>Byxelkrok's Golf Club</div>
                                <div class='col-xs-6 text-right cv-work'>JUN 2015 - AUG 2015</div>
                            </div>
                            <p>Managed reception and shop.</p>
                            <p>Managed social media accounts.</p>
                        </div>
                    </div>
                    <div class='cv-title'>Education</div>
                    <div class='cv-list'>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 cv-work'>KTH Royal Institute of Technology</div>
                                <div class='col-xs-6 text-right cv-work'>2015 - </div>
                            </div>
                            <p>Pursuing a M.Sc. in Computer Science, with expected graduation in 2020.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 cv-work'>Norra Real Upper Secondary School</div>
                                <div class='col-xs-6 text-right cv-work'>2012 - 2015</div>
                            </div>
                            <p>Natural Sciences, with an orientation in mathematics.</p>
                        </div>
                    </div>
                    <div class='cv-title'>Other Experiences</div>
                    <div class='cv-list'>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 cv-work'>SpexM - Manager</div>
                                <div class='col-xs-6 text-right cv-work'>2018 - 2019</div>
                            </div>
                            <p>Leading a team of 14 people with organizing parties and pubs for other students.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 cv-work'>SpexM - Bartender</div>
                                <div class='col-xs-6 text-right cv-work'>2017 - 2018</div>
                            </div>
                            <p>Helped organize parties and pubs for other students.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 cv-work'>Computer Science Reception </div>
                                <div class='col-xs-6 text-right cv-work'>2016 and 2017</div>
                            </div>
                            <p>Took care of groups of 15 new students during their first weeks at KTH, and organized events for all new students to partake in.</p>
                        </div>
                    </div>
                    <div class='cv-title'>Achievements</div>
                    <div class='cv-list'>
                        <p>Winner of the Computer Science introductory programming course quicksort competition of 2016.</p>
                        <p>Finalist in the Swedish Programming Championship of 2015 for upper secondary school students.</p>
                        <p>Tour Champion of the 2013 Lillängen Tour.</p>
                        <p>Club Champion of the 2013 Lillängen Short Games.</p>
                        <p>Internships at DICE in October 2009 and 2010.</p>
                    </div>
                    <div class='cv-title'>Languages</div>
                    <div class='cv-list'>
                        <p>Swedish - native.</p>
                        <p>English - fluent.</p>
                        <p>French - basic.</p>
                    </div>
                </div>
            </div>
        </div>
        <div id='portfolio' class='website-part'>
            <div class='title'>Portfolio</div>
        </div>
        <div id='contact-me' class='website-part'>
            <div class='title'>Contact Me</div>
            <div class='content'>
                <p class='contact-text'>If you wish to contact me, send me an email at fredrik@omstedt.com, or use the form below.</p>
                <form class='contact-text' action='/send_message' method='post'>
                    <div class="form-group">
                        <label for="contact-name" class='cv-work'>Name</label>
                        <input type="text" class="form-control" id="contact-name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="contact-email" class='cv-work'>Email address</label>
                        <input type="email" class="form-control" id="contact-email" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                        <label for="contact-text" class='cv-work'>Message</label>
                        <textarea class="form-control" id="contact-text" rows="3" required></textarea>
                    </div>
                    <div class='text-center'>
                        <button class='centered' id='contact-button' type='submit'>Send Message</button>
                    </div>
                </form>
            </div>
        </div>
	</body>
</html>
