<html>
	<head>
		<script type="text/javascript" src="/static/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/static/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/list.min.js"></script>
		<script type="text/javascript" src="/static/website.js"></script>

		<link href="/static/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/static/bootstrap-theme.min.css" media="all" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css" />
		<link href="/static/website.css" media="all" rel="stylesheet" type="text/css" />

        <!-->For testing purposes, no cache needed (will mess with highlighting)<-->
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
	</head>
	<body class='container-fluid'>
		
	</body>
</html>
