<html>
	<head>
		<script type="text/javascript" src="/static/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="/static/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/static/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/list.min.js"></script>
		<script type="text/javascript" src="/static/website.js"></script>

		<link href="/static/bootstrap.min.css" media="all" rel="stylesheet" type="text/css" />
		<link href="/static/bootstrap-theme.min.css" media="all" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" href="/static/jquery-ui.min.css" />
		<link href="/static/website.css" media="all" rel="stylesheet" type="text/css" />

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Fredrik Omstedt</title>
	</head>
	<body class='parallax backgroundImage0'>
        <div class='text-center website-top dont-print'>
            <div class='title'>Fredrik Omstedt</div>
            <div style='padding-bottom: 10px'>
                <a href='http://www.github.com/xaril' target='_blank'><img class='github' src='static/pictures/github.png'></img></a>
                <a href='http://www.github.com/xaril' target='_blank'><b>xaril</b></a>
            </div>
            <p><b>fredrik@omstedt.com</b></p>
            <div class='container-fluid buttons'>
                <div class='row'>
                    <button id='about-me-btn'><b>About Me</b></button>
                    <button id='cv-btn'><b>CV</b></button>
                    <button id='portfolio-btn'><b>Portfolio</b></button>
                    <button id='contact-me-btn'><b>Contact Me</b></button>
                </div>
            </div>
        </div>
        <div id='about-me' class='website-part dont-print'>
            <div class='title'>About Me</div>
            <div class='container-fluid content aboutMe'>
                <div class='about-me-wrapper'>
                    <div class='text'>
                        <p id='about-me-text'></p>
                    </div>
                    <div class='image'>
                        <img id='about-me-image' src='/static/pictures/about-me-0.jpg'></img>
                    </div>
                </div>
            </div>
        </div>
        <div id='cv' class='website-part'>
            <div class='title dont-print'>CV</div>
            <div class='only-print cv-title'>
                <div class='row'>
                    <div class='col-xs-3 only-print'><img class='cv-title-img only-print' src='/static/pictures/about-me-0.jpg'/></div>
                    <div class='col-xs-6 only-print text-center'>
                        <div class='only-print cv-title-title'>Fredrik Omstedt</div>
                        <div class='only-print cv-title-content'>
                            <p>fredrik@omstedt.com<br>0790779302<br>www.omstedt.com</p>
                        </div>
                    </div>
                    <div class='col-xs-3 only-print'></div>
                </div>
            </div>
            <div class='content'>
                <div>
                    <div class='content-title'>Professional Experience</div>
                    <div class='cv-list'>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 content-small-title'>Topgolf Sweden AB</div>
                                <div class='col-xs-6 text-right content-small-title'>JAN 2017 - </div>
                            </div>
                            <p>Working as a software developer on video games and tools used in TV broadcasts.</p>
                            <p>Operating the software to create graphical effects during live television.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 content-small-title'>Valkyr Games HB</div>
                                <div class='col-xs-6 text-right content-small-title'>MAR 2015 - </div>
                            </div>
                            <p>CTO and Co-founder.</p>
                            <p>Designing and programming games.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 content-small-title'>SIPRI - Stockholm International Peace Research Institute</div>
                                <div class='col-xs-6 text-right content-small-title'>DEC 2016 - JUN 2017</div>
                            </div>
                            <p>As part of a school project, helped recreate a database and an interface to handle and analyze data in the database.</p>
                            <p>Worked as back end lead developer, writing a back end in Java using the Spring framework.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 content-small-title'>Eutopia Studios AB</div>
                                <div class='col-xs-6 text-right content-small-title'>JUN 2016 - JAN 2017</div>
                            </div>
                            <p>Worked as a software developer on mobile applications and VR games.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 content-small-title'>Byxelkrok's Golf Club</div>
                                <div class='col-xs-6 text-right content-small-title'>JUN 2015 - AUG 2015</div>
                            </div>
                            <p>Managed reception and shop.</p>
                            <p>Managed social media accounts.</p>
                        </div>
                    </div>
                    <div class='content-title'>Education</div>
                    <div class='cv-list'>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 content-small-title'>KTH Royal Institute of Technology</div>
                                <div class='col-xs-6 text-right content-small-title'>2015 - </div>
                            </div>
                            <p>Pursuing a M.Sc. in Computer Science, with expected graduation in 2020.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 content-small-title'>Norra Real Upper Secondary School</div>
                                <div class='col-xs-6 text-right content-small-title'>2012 - 2015</div>
                            </div>
                            <p>Natural Sciences, with an orientation in mathematics.</p>
                        </div>
                    </div>
                    <div class='content-title'>Other Experiences</div>
                    <div class='cv-list'>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 content-small-title'>SpexM - Manager</div>
                                <div class='col-xs-6 text-right content-small-title'>JUL 2018 - JUL 2019</div>
                            </div>
                            <p>Leading a team of 14 people with organizing parties and pubs for other students.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 content-small-title'>SpexM - Bartender</div>
                                <div class='col-xs-6 text-right content-small-title'>NOV 2017 - JUN 2018</div>
                            </div>
                            <p>Helped organize parties and pubs for other students.</p>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xs-6 content-small-title'>Computer Science Reception </div>
                                <div class='col-xs-6 text-right content-small-title'>2016 and 2017</div>
                            </div>
                            <p>Took care of groups of 15 new students during their first weeks at KTH, and organized events for all new students to partake in.</p>
                        </div>
                    </div>
                    <div class='content-title'>Achievements</div>
                    <div class='cv-list'>
                        <p>Recipient of the 2018 Henrik Göransson Sandviken scholarship.</p>
                        <p>Recipient of KTH's Allmänna Studerandestiftelser scholarship of 2018.</p>
                        <p>Winner of the Computer Science introductory programming course quicksort competition of 2016.</p>
                        <p>Finalist in the Swedish Programming Championship of 2015 for upper secondary school students.</p>
                        <p>Tour Champion of the 2013 Lillängen Tour.</p>
                        <p>Club Champion of the 2013 Lillängen Short Games.</p>
                        <p>Internships at DICE in October 2009 and 2010.</p>
                    </div>
                </div>
                <div class='text-center dont-print'>
                    <button id='download-cv-button'>Download CV</button>
                </div>
            </div>
        </div>
        <div id='portfolio' class='website-part dont-print'>
            <div class='title'>Portfolio</div>
            <div class='container-fluid content'>
                <div class='content-text'>
                    Aside from my <a href='http://www.github.com/xaril' target='_blank'><b>GitHub</b></a>, I have contributed to a few other projects. These are showcased here.
                </div>
                <div class='content-text'>
                    <div class='portfolio-entry'>
                        <div class='content-title'>Shoot the Foe</div>
                        <div class='portfolio-wrapper'>
                            <div class='text'>
                                <p>Shoot the Foe was created at Valkyr Games in 2014 and 2015. It is a never-ending shoot-em-up where the player character's foes must be shot down. It launched on Google Play in October 2015. I programmed the entire game and designed a majority of it.</p>
                            </div>
                            <div class='image'>
                                <img src='/static/pictures/shoot-the-foe-0.png'></img>
                            </div>
                            <div class='play'>
                                <a href='https://play.google.com/store/apps/details?id=com.valkyrgames.shootthefoe&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target='_blank'>
                                    <img class='google-play' alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class='portfolio-entry'>
                        <div class='content-title'>OxiGon</div>
                        <div class='portfolio-wrapper'>
                            <div class='text'>
                                <p>OxiGon was created at Valkyr Games in 2016. It is a simple game in which the player must defend their OxiGon against incoming attackers. It launched on Google Play in December 2016. I programmed the entire game and designed a majority of it.</p>
                            </div>
                            <div class='image'>
                                <img src='/static/pictures/oxigon-0.png'></img>
                            </div>
                            <div class='play'>
                                <a href='https://play.google.com/store/apps/details?id=com.valkyrgames.oxigon&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target='_blank'>
                                    <img class='google-play' alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id='contact-me' class='website-part dont-print'>
            <div class='title'>Contact Me</div>
            <div class='content'>
                <p class='content-text'>If you wish to contact me, send me an email at <a href='mailto:fredrik@omstedt.com' target='_blank'><b>fredrik@omstedt.com</b></a>, or use the form below.</p>
                <div class='content-text'>
                    <div class="form-group">
                        <label for="contact-name" class='content-small-title'>Name</label>
                        <input type="text" class="form-control" id="contact-name" placeholder="Name" required>
                    </div>
                    <div class="form-group">
                        <label for="contact-email" class='content-small-title'>Email address</label>
                        <input type="email" class="form-control" id="contact-email" placeholder="Email address" required>
                    </div>
                    <div class="form-group">
                        <label for="contact-text" class='content-small-title'>Message</label>
                        <textarea class="form-control" id="contact-message" rows="3" required></textarea>
                    </div>
                    <div class='text-center'>
                        <button id='contact-button' type='submit'>Send Message</button>
                    </div>
                    <div id='contact-response'></div>
                </div>
            </div>
        </div>
        <div class='website-footer dont-print'>
            <div class='row'>
                <div class='col-xs-10'>© Fredrik Omstedt 2018. This website was created by me, Fredrik Omstedt. All images were taken by or taken of me. The only exceptions are the GitHub logo, the Google Play buttons, and the images of Valkyr Games' applications. The texts on this website reflect my personal opinions, and may not represent the opinions of any employer, organization or other entity I am associated with. If you want me to delete the information about you sent using the contact field above, please contact me again.</div>
                <div class='col-xs-2 text-center'>
                    <button id='back-to-top-button'>Back to top</button>
                </div>
            </div>
        </div>
	</body>
</html>
